.app {
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
  background: linear-gradient(135deg, #bda0e2 0%, #8445ab 100%);
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
